body {
    background-color: #212121;
    text-align: left;
    padding-top: 30px;
}

h1 {
    font-family: Georgia, 'Libre Bodoni', Verdana, serif;
    color: white;
}

h3 {
    font-family: Georgia, 'Libre Bodoni', Verdana, serif;
    color: white;
}
